/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.userList{
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
}
.userListUser{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.userListImg{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 10px;
}
.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.userListDelete{
    color: red;
    cursor: pointer;
}