

.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: inherit;
    
}

.active{
    background-color: rgb(34, 20, 90) !important;
    color: red;
    font-weight: bold;
}
